:root {
    --background: #8c594d;
    --text: #d9a282;

}
/* 
#root{
    background: var(--background);
   min-height: 100vh;
} */




/* HEADER/NAVBAR */

.nav-link {

    text-align: center;
    color: var(--text);

}

img.nav-brand {
    width: 8rem;
    height: 5rem;
}




/* ABOUT */
.about {
    color: var(--text);
    text-align: center;
    margin: 10rem;
    margin-left: 5rem;

}








/* WORK */

.carouselSize {
    width: 50rem;
    height: 10rem;
}