:root {
    --background: #8c594d;
    --text: 

}

#root{
    background: var(--background);
   min-height: 100vh;
}


/* BACKGROUND */
.ParticleEffect {
    position: fixed;
    z-index: -1;
}

/* HEADER/NAVBAR */

.nav-link {

    text-align: center;
    color:aliceblue;

}

img.nav-brand {
    width: 8rem;
    height: 5rem;
}




/* ABOUT */
.about {
    color: aliceblue;
    text-align: center;
    margin: 10rem;
    margin-left: 5rem;
}








/* WORK */

.carouselSize {
    width: 50rem;
    height: 10rem;
}