:root {
    --background: #8c594d;
    --text: #d9a282;

}

@font-face{
    font-family:'FonsecaThin';
    src:local('FonsecaThin'), url('./assets/fonts/Fonseca-Thin.otf') format('otf');
}

#root{
    /* background: var(--background); */
   min-height: 100vh;
   font-family: 'FonsecaThin';
}




/* HEADER/NAVBAR */

.navbar{
    
}

.nav-link {

    text-align: center;
    color: var(--text);

}

img.nav-brand {
    width: 8rem;
    height: 5rem;
}




/* ABOUT */
.about {
    color: var(--text);
    text-align: center;
    /* margin: 10rem; */
    margin-left: 20rem;
    margin-right: 20rem;

}

img.personal {
width: 15rem;
border-radius: 5rem;
margin-left: 10rem;
}







/* WORK */

.carouselSize {
    width: 50rem;
    height: 10rem;
    
   
}