:root {
    --background: #8c594d;
    --text: #d9a282;

}

@font-face{
    font-family:'FonsecaThin';
    src:local('FonsecaThin'), url('./assets/fonts/Fonseca-Thin.otf') format('otf');
}

#root{
    /* background: var(--background); */
   min-height: 100vh;
   font-family: 'FonsecaThin';
}




/* HEADER/NAVBAR */

    .intro {
    margin-left:15rem;
    margin-top: 5rem;
    font-size: 5rem;
}
.navbar{
   margin-top: 5rem; 
   
}

.nav-link {

    text-align: center;
    color: var(--text);
    font-size: small;

}

img.nav-brand {
    width: 10rem;
    height: 4rem;
    margin-right: 4rem;
}

img.work {
    border-radius: 3rem;
}




/* ABOUT */
.about {
    color: var(--text);
    text-align: center;
    /* margin: 10rem; */
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 1rem;

}

img.personal {
height: 10rem;
border-radius: 7rem;

}







/* WORK */

.carouselSize {
    width: 50rem;
    height: 30rem;
    align-self: center;
    
   
}

img.portfolio {
    width: 50 rem;
    height: 30rem;
}




/* CONTACT */

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* RESUME */

img.resume {
    width: 30rem;
    height: 40rem;
    align-self: center;
    
}

/* FOOTER */

.footer{
position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.svgImg {
    width: 10rem;
    height: 5rem;
}



@media (min-width: 0px) and (max-width: 1250px) {
    .nav-link {
        font-size: 1.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }



}